.about__header {
  @extend .work__header;
  top: -4vh;
  position: relative;
}
.about__header--title {
  @extend .work__header--title;
}
.about__content__wrapper {
  position: relative;
  max-width: 62vw;
  display: flex;
  width: 100vw;
  top: -35vh;
}
.about__content {
  font-size: 2em;
  color: $brown;
  padding: 2em;
  position: relative;
}
.about__img {
  background-image: url();
  position: relative !important;
  background-color: $mustard;
  background-blend-mode: multiply;
  height: 60vh;
  left: 65vw;
  top: 11vh;
  border-radius: 1vh;
  opacity: 0.85;
  padding: 2em;
}
