.contact__header {
  @extend .about__header;
}
.contact__header--title {
  @extend .about__header--title;
}
.contact__content__wrapper {
  @extend .about__content__wrapper;
}
.contact__content {
  @extend .about__content;
}
.contact-card {
  width: 100vw;
  height: 27vh;
  font-size: 3em;
  color: $brown;
  text-align: center;
  padding-top: -10vw;
  position: relative !important;
}
.contact-card__link {
  color: $salmon;
  cursor: pointer;
  margin: 2vw;
  &:hover {
    color: $teal;
  }
}
.form-email {
  font-family: 'Harbour', serif;
  font-size: 1em;
  color: $dustyblue;
  border: 1px solid $paleblue;
  border-radius: .5em;
  padding: 3vh;
  position: relative;
  top: 50%;
  margin: 1em;
  min-width: 40vh;
  background-color: lighten($linkbg, 20%);
  box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.5);
}
.form-message {
  @extend .form-email;
  width: 40vh;
  height: 20vh;
}
.send-btn {
  @extend .form-email;
  bottom: 14vh;
  width: 46vh;
  top: 0;
  &:hover {
    background-color: lighten($linkbg, 25%);
    cursor: pointer;
    transition-duration: .25s;
  }
}
