.contact-wrapper {
  top: -10vh;
  position: relative;
  margin-bottom: -13vh;
}
.contact-card {
  width: 100vw;
  height: 27vh;
  font-size: 3em;
  color: $brown;
  text-align: center;
}
.contact-card__link {
  color: $salmon;
  cursor: pointer;
  margin: 2vw;
  &:hover {
    color: $teal;
  }
}
.contact-form {
  margin: 0 auto;
  position: relative;
  width: 50vh;
}
.contact-form__field {
  font-family: 'kayak_sans-light', serif;
  font-size: 1em;
  color: #000;
  border: 1px solid $paleblue;
  border-radius: .5em;
  padding: 3vh;
  position: relative;
  top: 50%;
  margin: 1.5vh;
  min-width: 40vh;
  background-color: rgba(255, 237, 219, 0.2);
  box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.5);
}
.contact-form__field--message {
  width: 40vh;
  height: 20vh;
}
.contact-form__button {
  bottom: 14vh;
  width: 46vh;
  top: 0;
  &:hover {
    background-color: lighten($linkbg, 25%);
    cursor: pointer;
    transition-duration: .25s;
  }
}
