html, body {
	margin: 0px;
	padding: 0px;
  font-size: 1.7vh;
	font-family: 'kayak_sans-light', sans-serif;
  background-color: #F0FFFC;
  overflow: hidden;
  background-size: 180%;
  height: 100%;
  //  @media screen and (max-device-width: 667px) and (orientation: portrait) {
  //   @media (orientation: landscape) {
  //     -webkit-transform: rotate(180deg);
  //     -moz-transform: rotate(180deg);
  //     -o-transform: rotate(180deg);
  //     -ms-transform: rotate(180deg);
  //     transform: rotate(180deg), transform-origin(0% 0%);
  //     position: absolute;
  //     left: 100vw;
  //   }
  // }
}
h1 {
	font-family: 'kayak_sans-light', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
a {
	cursor: pointer;
	text-decoration: none;
}
:root {
  --space: 0em 0;
  --space: 0em 0;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.Site-content {
  z-index: 1;
  overflow: hidden;
  max-height: 96vh;
}
.scrollbar {
  min-height: 100vh;
  max-height: 90vh;
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
  width: 0em;
}
.scrollbar::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.02);
}
.title {
	display: none;
}
