body {
	background-image: radial-gradient(ellipse farthest-corner at 55px 55px, #673AB7 -20%, #3a5b72 100%);
	height: 100%;
	background-color: darken($paleblue, 10%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
  font-family: 'Harbour', serif;
}
h1 {
	font-family: 'Renasci', sans-serif;
	font-size: 8vw;
	font-weight: lighter;
	line-height: 3vh;
	color: $teal;
}
.mobile-h1 {
	@extend h1;
	font-size: 20vw;
	line-height: 20vh;
}
h3 {
  font-size: 3vh;
}
.title {
	display: none;
}
a {
	cursor: pointer;
	text-decoration: none;
}
