body {
	margin: 0px;
	padding: 0px;
  font-size: 1.7vh;
	font-family: 'kayak_sans-light', sans-serif;
}
h1 {
  font-family: 'kayak_sans-light', sans-serif;
  text-decoration: none;
}
.wrapper {
  // background-image: radial-gradient(circle at 6.09% 22.46%, #83a4d4, transparent 100%),radial-gradient(circle at 77.66% 76%, #b6fbff, transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  background-image: $camo-bg;

}
.mobile-h1 {
	@extend h1;
	font-size: 20vw;
	line-height: 18vh;
	color: lighten($burger, 5%);
	text-shadow: 4px 5px 3px lighten($shadow, 15%);
}
h3 {
  font-size: 2em;
}
.title {
	display: none;
}
a {
	cursor: pointer;
	text-decoration: none;
}

.angle-right_bottom {
		clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		0 calc(100% - 6vw)
	);
}
