.featured-wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
}
.featured {
  top: 44vh;
  position: relative;
  min-width: 100%;
  height: 100%;
  margin-bottom: 64vh;
  @media screen and (max-device-width: 768px) {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.featured-projects {
  background-color: rgba(81,241,188,.5);
  height: 22vh;
  font-size: 2em;
  padding-top: 1.5vh;
  text-align: center;
  position: relative;
  color: $brown;
  margin-bottom: 1vh;
  @media screen and (max-device-width: 768px) {
    height: 28vh;
    font-size: 2em;
    color: $brown;
    padding-top: 3vh;
    text-align: center;
    padding-bottom: -31vh;
    top: -7.25vh;
  }
}
.chevron-down {
  font-size: 1em;
  position: relative;
  height: 7vh;
  color: $salmon;
  width: 7vh;
  z-index: 1;
  top: 0vh;
  cursor: pointer;
  &:hover {
  color: $teal;
  }
}
.featured-preview-wrapper {
  top: 0vh;
  position: relative;
  @media screen and (max-device-width: 768px) {
    top: 1vh;
    margin-top: -24vh;
    min-width: 100%;
    min-height: 100%;
  }
}
.featured__link {
  text-align: right;
  padding-right: 8vh;
  font-size: 11em;
  color: white;
  @media screen and (max-device-width: 768px) {
    text-align: center;
    height: 37vh;
    // top: -45vh;
    width: 100vw;
    left: 0vh;
    position: relative;
    content: '';
    z-index: 3;
    visibility: hidden;
  }
}
.featured01 {
  background-repeat: no-repeat;
  background-size: 70vh;
  height: 27vh;
  padding: 10vh;
  position: relative;
  text-align: justify;
  opacity: .9;
  background-color: lighten($trueblue, 15%);
  background-image: url('../assets/img/jot-it.png');
  background-position-y: -7vh;
  background-position-x: 2vw;
  margin-bottom: 1vh;
  @media screen and (max-device-width: 768px) {
    opacity: .85;
    background-repeat: no-repeat;
    background-size: 70vh;
    height: 27vh;
    top: -7vh;
    padding: 10vh;
    text-align: justify;
    background-color: lighten($logobg, 35%);
    background-image: url('../assets/img/jot-it.png');
    background-position-y: 30%;
    background-position-x: -19vw;
    margin-bottom: 1vh;
  }
}
.featured02 {
  background-repeat: no-repeat;
  background-size: 70vh;
  height: 27vh;
  padding: 10vh;
  position: relative;
  text-align: justify;
  opacity: .9;
  background-color: lighten($brightpurple, 10%);
  background-image: url('../assets/img/east-end.png');
  background-position-y: 45%;
  background-position-x: 8vw;
  margin-bottom: 1vh;
  @media screen and (max-device-width: 768px) {
    opacity: .85;
    background-repeat: no-repeat;
    background-size: 70vh;
    height: 27vh;
    padding: 10vh;
    top: -7vh;
    text-align: justify;
    background-color: lighten($brightpurple, 10%);
    background-image: url('../assets/img/east-end.png');
    background-position-x: 72%;
    background-position-y: 45%;
    margin-bottom: 1vh;
  }
}
.featured03 {
  background-repeat: no-repeat;
  background-size: 70vh;
  height: 27vh;
  padding: 10vh;
  position: relative;
  text-align: justify;
  opacity: .9;
  background-color: lighten($burgundy, 10%);
  background-image: url('../assets/img/upenn.png');
  background-position-y: -11vh;
  background-position-x: 2vw;
  @media screen and (max-device-width: 768px) {
    opacity: .85;
    background-repeat: no-repeat;
    background-size: 70vh;
    height: 27vh;
    top: -7vh;
    padding: 10vh;
    text-align: justify;
    background-color: lighten($burgundy, 10%);
    background-image: url('../assets/img/upenn.png');
    background-position-y: -10vh;
    background-position-x: 5vw;
  }
}
.see-more__wrapper {
  width: 100vw;
  height: 12vh;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 15vh;
  margin-bottom: -25vh;
  z-index: 2;
  a {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 2px;
    border: 1.5px solid lighten($paleblue, 20%);
    background-color: $paleblue;
    color: white;
    cursor: pointer;
  }
  a:hover {
    background-color: lighten($paleblue, 10%);
  }
  @media screen and (max-device-width: 768px) {
    width: 100vw;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 6vh;
    a {
      padding-left: 20vw;
      padding-right: 20vw;
      padding-top: 2.5vw;
      padding-bottom: 2.5vw;
      border-radius: 2px;
      border: 1.5px solid lighten($paleblue, 20%);
      background-color: $paleblue;
      color: white;
      cursor: pointer;
    }
    a:hover {
      background-color: lighten($paleblue, 10%);
    }
  }
}
