// PLEASE NOTE - The use of !important is to override the parallax styling being used in this application.

.featured-wrapper {
  background-image: $circuits-bg;
  background-repeat: repeat !important;
  background-attachment: local !important;
  position: relative !important;
}
.featured {
  top: 81vh;
  position: relative;
  max-height: 100%;
}
.featured-projects {
  background-color: darken(#3d228c, 15%);
  height: 20vh !important;
  font-size: 2em;
  margin-bottom: -15vw;
  text-align: center;
  position: relative;
  color: lighten($mustard, 10%) !important;
}
.chevron-down {
  font-size: 1em;
  position: relative;
  height: 7vh;
  width: 7vh;
  z-index: 1;
  top: 0vh;
  cursor: pointer !important;
  &:hover {
    color: $teal !important;
  }
}
.featured-preview-wrapper {
  top: 0vh;
  position: relative;
}
.featured-preview-wrapper--sm {
  top: 0vh;
  position: relative;
}
.featured--bg {
  background-blend-mode: soft-light;
  background-repeat: no-repeat !important;
  background-size: 70vh !important;
  height: 27vh !important;
  padding: 10vh;
  position: relative !important;
  text-align: justify;
  margin-bottom: -27vh;
}
.featured01 {
  @extend .featured--bg;
  background-color: lighten($logobg, 5%);
  background-image: url('../assets/img/jot-it.png');
  background-position-y: -7vh;
  background-position-x: 2vw;
  top: 12vh;
  margin-bottom: -15vh;
}
.featured02 {
  @extend .featured--bg;
  background-color: darken($brightpurple, 30%);
  background-image: url('../assets/img/east-end.png');
  background-position-x: 90%;
  background-position-y: 45%;
}
.featured03 {
  @extend .featured--bg;
  background-color: darken($burgundy, 20%);
  background-image: url('../assets/img/upenn.png');
  background-position-y: -10vh;
  background-position-x: 2vw;
}
.featured__bg--sm {
  background-blend-mode: luminosity;
  background-repeat: no-repeat !important;
  background-size: 70vh !important;
  height: 27vh !important;
  padding: 10vh;
  position: relative !important;
  text-align: justify;
  margin-bottom: -27vh;
}
.featured01--sm {
  @extend .featured__bg--sm;
  background-blend-mode: inherit;
  mix-blend-mode: multiply !important;
  background-color: darken($logobg, 15%);
  background-image: url('../assets/img/jot-it.png');
  background-position-y: 30%;
  background-position-x: -19vw;
  top: 10vh;
  margin-bottom: -17vh;
}
.featured02--sm {
  @extend .featured__bg--sm;
  background-color: darken($brightpurple, 30%);
  background-image: url('../assets/img/east-end.png');
  background-position-x: 72%;
  background-position-y: 45%;
  top: 1.3vh;
}
.featured03--sm {
  @extend .featured__bg--sm;
  background-color: darken($burgundy, 20%);
  background-image: url('../assets/img/upenn.png');
  background-position-y: -10vh;
  background-position-x: 5vw;
  top: 1vh;
}
.contact-card {
  width: 100vw;
  height: 27vh;
  font-size: 3em;
  color: white;
  text-align: center;
  padding-top: 2vw;
  margin-top: -3vh;
}
.contact-card__link {
  color: white;
  cursor: pointer;
  padding: 2vw;
}
.see-more--wrapper {
  width: 100vw;
  height: 12vh !important;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: .7em;
  a {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    border-radius: 1vw;
    border: 1.5px solid lighten($paleblue, 20%);
    background-color: $paleblue;
    color: white;
    cursor: pointer;
  }
  a:hover {
    background-color: lighten($paleblue, 10%);
  }
}
