.featured-wrapper {
  background-image: $circuits-bg;
  background-repeat: repeat !important;
  background-attachment: local !important;
  position: relative !important;
}
.featured {
  top: 81vh;
  position: relative;
  max-height: 100%;
}
.featured-bg--content {
  background-color: darken(#3d228c, 15%);
  height: 20vh !important;
  font-size: 2em;
  margin-bottom: -15vw;
  text-align: center;
  position: relative;
  color: lighten($mustard, 10%) !important;
  background-repeat: repeat !important; // Necessary to override parallax component bg
  overflow:hidden !important; // needed to override parallax styles
  a {
    color: white !important;
  }
}
.featured-link {
  position: relative;
  top: 15vh;
  display: flex;
  color: $mustard;
  justify-content: center;
}
.chevron-down {
  font-size: 1em;
  position: relative;
  height: 7vh;
  width: 7vh;
  z-index: 1;
  top: 0vh;
  cursor: pointer !important;
  &:hover {
    color: $teal;
  }
}
.featured-preview-wrapper {
  top: 13vh;
  position: relative;
}
.featured--bg {
  background-repeat: no-repeat !important;
  background-size: 30% !important;

  height: 27vh !important;
  max-height: 20vh;
  padding: 10vh;
  position: relative !important;
  text-align: justify;
  margin-bottom: -27vh;
}
.feature01 {
  @extend .featured--bg;
  background-color: lighten($logobg, 10%);
  background-image: url('../assets/img/jot-it.png');
  background-position-y: 45%;
}
.feature02 {
  @extend .featured--bg;
  background-color: darken($brightpurple, 40%);
  background-image: url('../assets/img/east-end.png');
  background-position-x: 72vw;
  background-position-y: 45%;
}
.feature03 {
  @extend .featured--bg;
  background-color: darken($burgundy, 10%);
  background-image: url('../assets/img/upenn.png');
  background-position-y: -10vh;
}
