.footer {
  padding: .2em;
  height: 8vh;
  position: relative !important;
  font-size: 1.4em;
  color: white;
  margin-top: 10vh;
  font-family: 'kayak_sans-regular', sans-serif;
  text-align: center;
}
.going-up {
  position: relative;
  top: 1vh;
  right: 5vw;
  font-size: 2em;
  cursor: pointer !important;
}
:root {
    --space: 1.5em 0;
    --space: 2em 0;
    overflow:hidden;
}
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @extend .scrollbar;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    z-index: 0;
    overflow: hidden;
}

.Site-content:after {
    display: block;
    height: 0;
    visibility: hidden;
    z-index: 9999;
    @extend .scrollbar;
}
