.footer {
  position: relative !important;
  font-size: 1.4em;
  color: white;
  max-height: 20vh;
  padding-top: 23vh;
  margin-bottom: 10vh;
  font-family: 'kayak_sans-regular', sans-serif;
  text-align: center;
  p {
    font-size: .8em;
    color: black;
    padding-top: 1.1vh;
  }
}
.footer--sm {
  padding: 2vw;
  position: relative !important;
  font-size: 1.4em;
  color: white;
  margin-top: 30vh;
  font-family: 'kayak_sans-regular', sans-serif;
  text-align: center;
  p {
    font-size: .8em;
    color: black;
    padding-top: 1.1vh;
  }
}
.going-up {
  position: relative;
  top: 1vh;
  background-color: darken($salmon, 20%);
  border-radius: 3em;
  right: 20vw;
  font-size: 2em;
  padding: .02em;
  padding-top: .15em;
  cursor: pointer !important;
}
