.blurbg {
  height: 120%;
}
.header_clear {
	padding-bottom: 1em;
}
.header {
  position: relative;
  z-index: 2;
	width: 100%;
}
.navlinks a {
	padding: .8em;
	margin: 1.5vh;
  font-size: 1em;
  color: $teal;
  &::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: $brightpurple;
    transition: width .3s;
    display: block;
  }
  &:hover::after {
    width: 100%;
    transition: width .3s;
  }
}
.logo {
  position: absolute;
  z-index: 1;
	top: 4vh;
	left: 3vw;
  max-width: 11vh;
}
.logo-sm {
	@extend .logo;
	left: 3vh;
	top: 3vh;
	max-width: 11vh;
}
.navigation-desktop {
  top: 13vh;
  right: 1vh;
  position: absolute;
  z-index: 2;
  margin-top: -7vh;
  font-size: 2vh;
  text-transform: uppercase;
  a {
    cursor: pointer;
    color: darken($teal, 20%);
    padding: .75em;
    letter-spacing: .15vw;
    display: inline-block;
  }
  a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: $brightpurple;
    transition: width .3s;
    display: block;
  }
  a:hover::after {
    width: 100%;
    transition: width .3s;
  }
}
