.header_clear {
	padding-bottom: 1em;
}

.header {
  position: relative;
  z-index: 2;
}
.navlinks a {
	padding: .8em;
	margin: 1.5vh;
  color: #f5e8cd;
	background-color: lighten($linkbg, 5%);
  font-size: 3vh;
	padding: 1.2vh;
	border-radius: .5em;
  text-decoration: none;
  &:hover {
		box-shadow: 0px 4px 3px -3px $shadow;
		color: $teal;
    transition-duration: .4s;
    text-decoration: none;
    transition-timing-function: ease-in-out;
  }
}
.logo {
  position: absolute;
  z-index: 1;
	top: 3vh;
	left: 11%;
  max-width: 13vh;
}
.logo-sm {
	@extend .logo;
	left: 5vh;
	top: 2vh;
	max-width: 11vh;
}
