// shapes

.box1 {
  position: relative;
  background-color: maroon;
  margin: 1em;
  padding: 1em;
  top: 40vh;
  width: 100%;
  height: 100%;
}
.box2 {
  position: relative;
  background-color: orange;
  margin: 1em;
  padding: 1em;
  width: 50%;
  height: 100%;
}
.devdesign {
  position: relative;
  width: 50%;
  top: 40vh;
  text-align: right;
  margin: 1em;
  padding: 1em;
  height: 100%;
}
