.name {
  margin-bottom: -5%;
}
.shapes {
  position: absolute;
  width: 53vh;
  max-width: 58vh;
  top: 26vh;
  left: 10%;
}
.shapes-sm {
  position: absolute;
  width: 67%;
  top: 12%;
  left: 16%;
}
.premise {
  min-width: 50vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.premise-sm {
  position: absolute;
  max-width: 36%;
  min-width: 59%;
  left: 25%;
  top: 63vh;
}
.page-current {
  background-color: $palepurple;
}
.portfolio-img-01 {
  box-shadow: rgb(0, 0, 0) 0px 4px 27px 3px;
  max-width: 65vh;
  margin: 4vw;
  border-radius: 1em;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
	text-shadow: 4px 5px 3px lighten($shadow, 15%);
  color: lighten($teal, 20%);
  font-size: 5vh;
}
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rotatewords {
	font-family: 'Renasci';
	font-size: 6vw;
	font-weight: 200;
	padding:0px;
	margin:0px;
	line-height: 0vh;
  color: $teal;
  text-decoration: none;
	text-shadow: 4px 5px 3px lighten($shadow, 15%);
}
.rotatewords-sm {
	font-family: 'Renasci';
	font-size: 9vw;
	font-weight: 200;
	padding:0px;
	margin:0px;
	line-height: 0vh;
  color: $teal;
  text-decoration: none;
	text-shadow: 4px 5px 3px lighten($shadow, 15%);
}
.recent {
  clip-path: polygon(0 0%, 100% 46%, 100% 100%, 0 calc(100% - 0vw));
  background-color: rgba(255,255,255,.6);
  position: relative;
  height: 42vh;
  top: 29vh;
}
.featured-link {
  position: relative;
  top: 15vh;
  display: flex;
  justify-content: center;
}
