
@font-face {
  font-family: 'Harbour';
  font-weight: lighter;
  font-style: normal;
  src: local('Harbour'),  url(../assets/fonts/Harbour.woff2) format('woff2');
  src: local('Harbour'),  url(../assets/fonts/Harbour.woff) format('woff');
  src: url('../assets/fonts/Harbour.ttf') format('truetype');
}
@font-face {
  font-family: 'KingBasilLite-Regular';
  font-weight: lighter;
  font-style: normal;
  src: url(../assets/fonts/King-Basil-Lite.woff2) format('woff2');
  src: url('../assets/fonts/King-Basil-Lite.otf') format('opentype');
}
.name {
  margin-bottom: -5%;
}
.shapes {
  position: relative;
  width: 53vh;
  max-width: 58vh;
  top: 12vw;
}
.shapes-sm {
  position: absolute;
  width: 50vh;
  top: 16vh;
  left: 6vw;
}
.premise {
  position: relative;
  width: 40vh;
  min-width: 44vh;
  text-align: right;
  top: 10vw;
}
.premise-sm {
  position: absolute;
  width: 45vh;
  margin: 1em;
  left: 7vh;
  bottom: 3%;
}
.page-current {
  background-color: $palepurple;
}
.portfolio-img-01 {
  box-shadow: rgb(0, 0, 0) 0px 4px 27px 3px;
  top: 12vh;
  left: 20vw;
  border-radius: 1em;
  margin: 7vh;
}
