/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 34px;
  height: 32px;
  top: 6vh;
  right: 3%;
}
.bm-burger-button-sm {
  position: absolute;
  width: 30px;
  height: 15px;
  right: 4%;
  top: 4.5vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: $teal;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background-color: $teal;
}

/* General sidebar styles */
.bm-menu {
background-image: linear-gradient(to top, #284a6c 0%, #284a6c 1%, darken(#14294c, 10%) 100%);
  background-blend-mode: darken;
  font-size: 1.15em;
	overflow: hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgb(40,0,91);
	overflow: hidden;
	width: 13vw;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 10vh;
  height: 90% !important;
}

/* Styling of overlay */
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  left: 0px;
}
