/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 34px;
  height: 32px;
  top: 6vh;
  right: 3%;
}
.bm-burger-button-sm {
  @extend .bm-burger-button;
  right: 5%;
  top: 4.5vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $mustard;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(40,0,91);
  font-size: 1.15em;
	overflow: hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgb(40,0,91);
	overflow: hidden;
	width: 13vw;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  left: 0px;
}
