/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 37px;
  top: 5.5vh;
  right: 10%;
}
.bm-burger-button-sm {
  @extend .bm-burger-button;
  right: 5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $mustard;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(40,0,91);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
	overflow: hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgb(40,0,91);
	overflow: hidden;
	width: 13vw;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  left: 0px;
}
