// logo styling

.title {
	display: none;
}
.container {
	padding: 2em;
}
.header {
  position: relative;
  z-index: 2;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo-square {
  width: 7vh;
  height: 7vh;
	background-color: $logobg;
  box-shadow: 0px 4px 3px -3px $shadow;
	animation: 13s linear 65s infinite load;
}
.logo {
  position: absolute;
  z-index: 1;
	left: 2px;
	top: -10%;
  max-width: 6vh;
}
.container-fluid {
	padding-top: 2em;
}
.menu {
	width: 5vh;
	height: 5vh;
	margin-right: 3em;
	margin-top: 1em;
	border-radius: .5em;
	border: 2px solid $logobg;
	background-color: $yellow;
	box-shadow: 0px 4px 3px -3px $shadow;
}
