.project__tag {
  background-image: linear-gradient(to bottom, #734b6d, #42275a);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .4em;
  max-width: 25vh;
  letter-spacing: .15vh;
  padding-right: 2vh;
  top: -10vh;
  padding-left: 2vh;
  border-radius: 2vh;
  position: relative;
  margin-right: 1vh;
  border: .5px solid $linkbg;
  justify-content: center;
  height: 2.7vh;
  display: inline-flex;
  flex-direction:column;
}
ul, li {
  list-style-type: none;
  position: relative;
}
.project__tag--wrapper {
  position: relative;
  line-height: 2vh;
  top: 0vh;
  width: 30vw;
  right: 13vh;
  margin-bottom: 40vh;
}
.clip-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  z-index: 9999;
  a {
    font-size: 2.5em;
    position: relative;
    background-clip: text !important;
    color: transparent !important;
    z-index: 9999;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
}
.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.clip-text:before {
  position: absolute;
  content: '';
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../assets/img/jot-it.png');
  background-position: 50% 50%;
  box-sizing: border-box;
}
.clip-text:after {
  position: absolute;
  content: '';
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
  box-sizing: border-box;
}
