.project__tag {
  background-image: linear-gradient(to bottom, #734b6d, #42275a);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .4em;
  max-width: 25vh;
  letter-spacing: .15vh;
  padding-right: 2vh;
  top: -10vh;
  padding-left: 2vh;
  border-radius: 2vh;
  position: relative;
  margin-right: 1vh;
  border: .5px solid $linkbg;
  justify-content: center;
  height: 2.7vh;
  display: inline-flex;
  flex-direction:column;
}
ul, li {
  list-style-type: none;
  position: relative;
}
.project__tag--wrapper {
  position: relative;
  line-height: 2vh;
}
