.project__wrapper {
  @extend .scrollbar;
  width: 100vw;
  perspective: 600px;
  perspective-origin: 25% 75%; 
}
.project__header {
  height: 57vh !important;
  top: -8vh !important;
  margin-bottom: -20vh;
  position: relative !important;
  transform: skewY(0deg) !important;
  @extend .work__header;
}
.project__header--title {
  font-family: 'kayak_sans-regular_italic', sans-serif;
  top: 44vh;
  color: #333332;
  position: relative;
  font-size: 15.8vh;
  text-transform: lowercase;
  max-width: 91vw;
  text-align: center;
}
.project__header--title-sm {
  font-family: 'kayak_sans-regular_italic', sans-serif;
  top: 49vh;
  color: #fed35c;
  position: relative;
  font-size: 8.8vh;
  text-transform: lowercase;
  min-width: 100%;
  text-align: left;
}
.project__summary {
  font-size: 2.5em;
  color: $brown;
  line-height: 7.5vh;
  text-align: justify;
  width: 75vw;
  display: block;
  left: 12vw;
  top: 35vh;
  align-items: center;
  position: relative;
}
.btn-group {
  width: 30vw;
  height: 40vh;
  display: block;
}
.btn {
  background-color: lighten($paleblue, 10%);
  border-radius: .5em;
  color: white;
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  width: 20vw;
  padding: .5vh;
  text-align: center;
  margin: 1vw;
  &:hover, &:active {
    background-color: lighten($paleblue, 15%);
    color: yellow;
  }
}
.project-section-title__background {
  background-color: $paleblue;
  padding-top: 20vh;
  position: relative;
  height: 8vh;
  padding: 1vh;
  text-align: right;
  border-radius: .5em;
  color: white;
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  line-height: .02vh;
  z-index: 2;
  visibility: visible;
}
.project-section-title__background--sm {
  padding-top: 20vh;
  position: relative;
  height: 8vh;
  padding: 1vh;
  text-align: right;
  border-radius: .5em;
  color: white;
  font-size: .6em;
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  line-height: .02vh;
  z-index: 2;
  visibility: visible;
}
.project__navigation a {
  color: white;
  padding: 1em;
  margin: 3vw;
  font-size: .5em;
  text-align: center;
  position: relative;
  display: inline-flex;
  width: 20vw;
  background-color: lighten($paleblue, 15%);
  border-radius: 4vw;
}
.project-image--desktop {
  max-width: 100%;
  max-height: 60%;
  min-height: 30%;
  min-width: 80%;
  box-shadow: 0px 20px 100px $brown;
  border-radius: 1vh;
  margin-top: 40vh;
  margin-bottom: 40vh;
  position: relative;
}
.project-image--tablet {
  max-width: 103%;
  min-width: 30%;
  min-height: 60vh;
  max-height: 80vh;
  box-shadow: 0px 20px 100px $brown;
  border-radius: 1vh;
  margin-top: 40vh;
  margin-bottom: 40vh;
  position: relative;
}
.project-image--mobile {
  max-width: 70%;
  max-height: 50vh;
  box-shadow: 0px 20px 100px $brown;
  border-radius: 1vh;
  margin-top: 40vh;
  margin-bottom: 40vh;
  position: relative;
}
.project__header--wrapper {
  position: relative !important;
  top: -10vh;
  height: 7vh !important;
  background-color: $teal;
}
.project__header--bg {
  background-blend-mode: difference;
  background-position-x: 10px !important;
  background-position-y: center !important;
  filter: blur(9px);
  width: 100vw;
  min-width: 104vw;
  min-height: 70vh;
  max-height: 50vh;
}
.image--perspective {
  // perspective-origin: 15% 55%;
  -webkit-perspective: 600;
  -webkit-transform: rotate3d(1, -1, 1, -5deg); /* Safari */
  transform: rotate3d(1, -1, 1, -5deg);
}
.jot-it__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/jot-it-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.csm__header {
  background-blend-mode: difference;
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/csm-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.east-end__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/east-end-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.economy__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/economy-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.portfolio-old__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/portfolio-old-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.tic-tac-toe__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/tic-tac-toe-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.portfolio-current__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/portfolio-current-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
.upenn__header {
  @extend .project__header--bg;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%), url('../assets/img/upenn-desktop.jpg') no-repeat center;
  background-size: 200vh;
}
