.project__wrapper {
  @extend .scrollbar;
  width: 100vw;
  text-align: center;
  perspective: 600px;
  perspective-origin: 25% 75%;
}
.project__header {
  height: 22vh;
  top: 8vh;
  margin-bottom: 10vh;
}
.project__header--title {
  font-family: 'kayak_sans-regular_italic', sans-serif;
  top: 36vh;
  color: $brown;
  position: relative;
  font-size: 15.8vh;
  text-transform: lowercase;
  left: 0vw;
}
.project__header--title-sm {
  font-family: 'kayak_sans-regular_italic', sans-serif;
  top: 40.75vh;
  color: #333332;
  position: relative;
  font-size: 9.8vh;
  text-transform: lowercase;
  min-width: 100%;
}
.project__summary {
  font-size: 2.5em;
  color: #333332;
  line-height: 7.5vh;
  text-align: justify;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 35vh;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 35vh;
  background-repeat: no-repeat;
  background-position-x: 55vw;
}
.project__technical {
  margin-bottom: 60vh;
  max-width: 60vw;
  margin-top: 1vh;
  text-align: justify;
}
.project__graphic {
  width: 90%;
  padding-bottom: 6vh;
}

.btn-group {
  width: 30vw;
  height: 40vh;
  display: block;
  margin-bottom: 10vh;
  position: relative;
  z-index: 2;
  left: 17vw;
}
.btn {
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  font-size: 1.5em;
  text-align: center;
  a {
    color: white;
    background-color: #636ebc;
    padding: 3.5vh;
    cursor: pointer;
    display: block;
    margin: 1vw;
    width: 20vw;
    border-radius: .5em;
    &:hover, &:active {
      background-color: lighten($paleblue, 15%);
      color: white;
    }
  }
}
.project-desc {
  display: flex;
  max-width: 70%;
  position: relative;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
}
.project-section-title__background {
  position: relative;
  padding: 1vh;
  border-radius: .5em;
  color: #388148;
  text-transform: uppercase;
  font-family: 'kayak_sans-bold_italic', sans-serif;
  line-height: .02vh;
  z-index: 2;
  visibility: visible;
  font-size: 1.5em;
}
.project-section-title__background--sm {
  padding-top: 20vh;
  position: relative;
  height: 8vh;
  padding: 1vh;
  text-align: right;
  border-radius: .5em;
  color: white;
  font-size: .6em;
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  line-height: .02vh;
  z-index: 2;
  visibility: visible;
}
.project__description {
  font-size: 0.9em;
  width: 57vw;
}
.project-image--desktop {
  width: 61vh;
  max-width: 67vh;
  left: -3vw;
  top: -4vh;
  box-shadow: 0px 20px 100px $brown;
  border-radius: 2px;
  margin-bottom: 7vh;
  position: relative;
}
.project__navigation {
  top: 14vh;
  position: relative;
  text-align: center;
  margin-bottom: 20vh;
  a {
    color: white;
    padding: 3vh;
    margin: 3vw;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    width: 20vw;
    background-color: #757fc4;
    border-radius: 4vw;
    &:hover {
      background-color: lighten(#757fc4, 10%);
    }
  }
}
.slanted-bg {
  min-width: 500vh;
  top: 10vh;
  min-height: 50vh;
  max-height: 80vh;
  position: relative;
  background-color: darken($purple, 2%);
  z-index: 0;
  right: 35vh;
  transform: skewY(-2deg);
}
.project-image--tablet {
  min-height: 60vh;
  max-height: 50vh;
  box-shadow: 0px 20px 100px $brown;
  border-radius: 2px;
  position: relative;
}
.project-image--mobile {
  max-width: 70%;
  max-height: 50vh;
  -webkit-box-shadow: 0px 20px 100px #333332;
  box-shadow: 0px 20px 100px #333332;
  border-radius: 2px;
  top: -28vh;
  margin-bottom: -26vh;
  position: relative;
}
.project__links {
  margin-top: -14vh;
}
.project__header--wrapper {
  position: relative !important; //needed to override springy parallax positioning
  top: -10vh;
  left: -1vh;
  height: 7vh !important; //needed to override springy parallax height
}
.project__header--bg--sm {
  min-width: 124vh;
  min-height: 90vh;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: -8vw;
  background-position-y: 20vh;
  z-index: 1;
  background-size: 85vh;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0vh;
}
.project__header--bg {
  min-width: 104vw;
  min-height: 70vh;
  max-height: 50vh;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 5vw;
  z-index: 1;
  background-size: 125vh;
  background-color: lighten($teal, 60%);
  top: 0vh;
}
.image--perspective {
  transform: perspective(3000px) rotateY(12deg);
  -webkit-transform-origin: 632px 260px;
  text-align: center;
  margin-top: -30vh;
  position: relative;
}
.jot-it__header {
  background-image: url('../assets/img/bgmoreshapes.svg');
  background-size: 77vh;
}
.csm__header {
  background-image: url('../assets/img/bgshapes00.svg');
  background-size: 77vh;
}
.east-end__header {
  background-image: url('../assets/img/bgshapes06.svg');
  background-size: 77vh;
}
.economy__header {
  background-image: url('../assets/img/bgshapes02.svg');
  background-size: 77vh;
}
.portfolio-old__header {
  background-image: url('../assets/img/bgshapes05.svg');
  background-size: 85vh;
}
.tic-tac-toe__header {
  background-image: url('../assets/img/bgshapes04.svg');
  background-size: 77vh;
}
.portfolio-current__header {
  background-image: url('../assets/img/bgshapes01.svg');
  background-size: 77vh;
}
.upenn__header {
  background-image: url('../assets/img/bgshapes03.svg');
  background-size: 77vh;
  padding-bottom: 10vh;
  top: -10vh;
}
.project__summary--jot-it {
  background-image: url('../assets/img/jot-it.png');
}
.project__summary--east-end {
  background-image: url('../assets/img/east-end.png');
}
.project__summary--economy {
  background-image: url('../assets/img/economy.png');
}
.project__summary--portfolio-old {
  background-image: url('../assets/img/portfolio-old.png');
}
.project__summary--tic-tac-toe {
  background-image: url('../assets/img/tic-tac-toe.png');
}
.project__summary--portfolio-current {
  background-image: url('../assets/img/portfolio-current.png');
}
.project__summary--upenn {
  background-image: url('../assets/img/upenn.png');
}
.project__summary--csm {
  background-image: url('../assets/img/csm.png');
}
.project__summary--wrapper {
  max-width: 60vh;
  position: relative;
}
