.project__wrapper {
  @extend .scrollbar;
}
.project__header {
  content: "";
  font-size: 2vw;
  margin-top: 11vh;
  padding-right: 15vw;
  width: 100vw;
  min-height: 25vh;
  background-color: $logobg;
  transform: skewY(4deg);
  text-align: right;
  position: relative;
  color: #ffffff;
  background-image: $circuits-bg;
}
.project__header-title {
  font-family: 'kayak_sans-light_italic', sans-serif;
  color: lighten($green, 20%);
  font-size: 7.5vh;
  z-index: 1;
  position: absolute;
  text-align: right;
  right: 19vw;
  top: 10vh;
}
.project__summary {
  font-size: 2.5em;
  color: $teal;
  line-height: 7.5vh;
  text-align: justify;
  width: 75vw;
  display: block;
  left: 12vw;
  align-items: center;
  position: relative;
}
.header-blur {
  mix-blend-mode: soft-light;
  margin-bottom: 36vh;
}
.react-blur-canvas {
  min-height: 17.1vh;
  max-height: 17.1vh;
  transform: scaleY(1.9);
}
.btn-group {
  position: absolute;
  width: 30vw;
  height: 40vh;
  display: block;
}
.btn {
  background-color: lighten($paleblue, 10%);
  border-radius: .5em;
  color: white;
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  width: 20vw;
  padding: .5vh;
  text-align: center;
  margin: 1vw;
  &:hover, &:active {
    background-color: lighten($paleblue, 15%);
    color: yellow;
  }
}
.title--background {
  background-color: $paleblue;
  height: 8vh;
  padding: 1vh;
  text-align: right;
  border-radius: .5em;
  color: white;
  text-transform: uppercase;
  font-family: 'kayak_sans-light_italic', sans-serif;
  line-height: .02vh;
  z-index: 2;
}
.project__navigation a {
  color: white;
  padding: 1em;
  margin: 3vw;
  font-size: .5em;
  text-align: center;
  position: relative;
  display: inline-flex;
  width: 20vw;
  background-color: lighten($paleblue, 15%);
  border-radius: 4vw;
}
