// shape colors

$teal: rgba(90, 250, 199, .90);
$sage: rgba(167, 172, 112, .90);
$mustard: rgb(210, 180, 90);
$brightpurple: rgb(194,83,206);
$purple: rgb(120,48,127);
$burgundy: rgba(175, 67, 67, .90);
$yellow: rgb(221,225,93);
$shadow: rgba(0,0,0,.5);
$trueblue: rgb(60,124,191);
$dustyblue: rgb(205, 219, 245);
$linkbg: rgb(43,23,99);
$burger: rgb(101,117,255);
$logobg: rgb(64,30,124);
$paleblue: rgb(71,83,165);
$palepurple: rgb(66,58,114);
$green: #47a55c;
$brown: #333332;
$salmon: #FF3F47;
$tangerine: #ED8012;

// fonts

@font-face {
  font-family: 'kayak_sans-bold_italic';
  font-weight: lighter;
  font-style: normal;
  src: local('kayak_sans-bold_italic'), url('../assets/fonts/kayak_sans_bold_italic-webfont.woff2') format('woff2'),
  local('kayak_sans-bold_italic'), url('../assets/fonts/kayak_sans_bold_italic-webfont.woff') format('woff'),
  local('kayak_sans-bold_italic'), url('../assets/fonts/kayak_sans_bold_italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'kayak_sans-bold';
  font-weight: lighter;
  font-style: normal;
  src: url('../assets/fonts/kayak_sans_bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/kayak_sans_bold-webfont.woff') format('woff'),
  url('../assets/fonts/kayak_sans_bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'kayak_sans-light_italic';
  font-weight: lighter;
  font-style: normal;
  src: url('../assets/fonts/kayak_sans_light_italic-webfont.woff2') format('woff2'),
  url('../assets/fonts/kayak_sans_light_italic-webfont.woff') format('woff'),
  url('../assets/fonts/kayak_sans_light_italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'kayak_sans-light';
  font-weight: lighter;
  font-style: normal;
  src: url('../assets/fonts/kayak_sans_light-webfont.woff2') format('woff2'),
  url('../assets/fonts/kayak_sans_light-webfont.woff') format('woff'),
  url('../assets/fonts/kayak_sans_light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'kayak_sans-regular_italic';
  font-weight: lighter;
  font-style: normal;
  src: url('../assets/fonts/kayak_sans_regular_italic-webfont.woff2') format('woff2'),
  url('../assets/fonts/kayak_sans_regular_italic-webfont.woff') format('woff'),
  url('../assets/fonts/kayak_sans_regular_italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'kayak_sans-regular';
  font-weight: lighter;
  font-style: normal;
  src: url('../assets/fonts/kayak_sans_regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/kayak_sans_regular-webfont.woff') format('woff'),
  url('../assets/fonts/kayak_sans_regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'womby';
  font-weight: lighter;
  font-style: normal;
  src: local('womby'), url('../assets/fonts/womby.woff2') format('woff2'),
  local('womby'), url('../assets/fonts/womby.woff') format('woff'),
  local('womby'), url('../assets/fonts/womby.ttf') format('truetype');
}
