// shape colors

$teal: rgba(90, 250, 199, .90);
$sage: rgba(167, 172, 112, .90);
$mustard: rgb(210, 180, 90);
$brightpurple: rgb(194,83,206);
$purple: rgb(120,48,127);
$burgundy: rgba(175, 67, 67, .90);
$yellow: rgb(221,225,93);
$shadow: rgba(0,0,0,.5);
$trueblue: rgb(60,124,191);
$dustyblue: rgb(205, 219, 245);
$linkbg: rgb(43,23,99);
$burger: rgb(101,117,255);

// logo

$logobg: rgb(64,30,124);$paleblue: rgb(71,83,165);
$palepurple: rgb(66,58,114);
$green: #47a55c;

// fonts

@font-face {
  font-family: 'Harbour';
  font-weight: lighter;
  font-style: normal;
  src: local('Harbour'), url('../assets/fonts/Harbour.woff2') format('woff2');
  src: local('Harbour'), url('../assets/fonts/Harbour.woff') format('woff');
  src: local('Harbour'), url('../assets/fonts/Harbour.ttf') format('truetype');
}
@font-face {
  font-family: 'King-Basil-Lite';
  font-weight: lighter;
  font-style: normal;
  src: local('KingBasilLite-Regular'), url('../assets/fonts/King-Basil-Lite.woff2') format('woff2');
  src: local('KingBasilLite-Regular'), url('../assets/fonts/King-Basil-Lite.ttf') format('truetype');
}
@font-face {
  font-family: 'Supply-Light';
  src: url('../assets/fonts/supply-light.woff2') format('woff2'),
         url('../assets/fonts/Supply-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Supply-Regular';
  src: url('../assets/fonts/supply-regular.woff2') format('woff2'),
         url('../assets/fonts/Supply-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
