// shape colors

$teal: rgba(90, 250, 199, .90);
$sage: rgba(167, 172, 112, .90);
$mustard: rgba(226, 180, 86, .90);
$brightpurple: rgb(194,83,206);
$burgundy: rgba(175, 67, 67, .90);
$yellow: rgb(221,225,93);
$shadow: rgba(0,0,0,.5);
$trueblue: rgb(60,124,191);
$dustyblue: rgb(205, 219, 245);

// logo

$logobg: rgb(64,30,124);


// gradient colors

$paleblue: rgb(57,64,113);
$palepurple: rgb(66,58,114);
