.work__wrapper {
  flex-direction: column;
  justify-content: space-around;
  background-image:
    linear-gradient(green -70%, red 120%),
    linear-gradient(to left, purple 210%, yellow 240%);
  background-blend-mode: difference;
  background-size: 100vw;
  width: 100vw;
  position: relative;
}
.work__header {
  content: "";
  font-size: 2.7em;
  padding-top: 12vh;
  padding-right: 15vw;
  width: 100vw;
  height: 6vh;
  top: 10vh;
  background-color: $logobg;
  transform: skewY(5deg);
  text-align: right;
  position: relative;
  color: #ffffff;
  background-image: $camo-bg;
}
.work__header--title {
  font-family: 'kayak_sans-light_italic', sans-serif;
  transform: skewY(-5deg);
}
.projectcard {
  min-width: 25vh;
  max-width: 70vh;
  height: 46vh;
  top: 15vh;
  margin: 0 auto;
  max-height: 75vh;
  cursor: pointer;
  position: relative;
  display: block;
  background-position-x: 16vw;
    &:hover {
      background-color: lighten($palepurple, 10%);
    }
  }
  .projectbg__styles {
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: left;
    margin-bottom: 7vh;
    padding: 2vw;
    background-position-x: 1.5vw;
  }
  .projectcard--jot-it {
    background-image: url('../assets/img/jot-it.png');
    @extend .projectbg__styles;
    position: relative;
  }
  .projectcard--csm {
    background-image: url('../assets/img/csm.png');
    @extend .projectbg__styles;
    background-position-x: 17.5vw;
  }
  .projectcard--portfolio-current {
    background-image: url('../assets/img/portfolio-old.png');
    @extend .projectbg__styles;
  }
  .projectcard--economy {
    background-image: url('../assets/img/economy.png');
    @extend .projectbg__styles;
    background-position-x: 17.5vw;
  }
  .projectcard--east-end {
    background-image: url('../assets/img/east-end.png');
    @extend .projectbg__styles;
  }
  .projectcard--tic-tac-toe {
    background-image: url('../assets/img/tic-tac-toe.png');
    @extend .projectbg__styles;
    background-position-x: 17.5vw;
  }
  .projectcard--portfolio-old {
    background-image: url('../assets/img/portfolio-old.png');
    @extend .projectbg__styles;
    margin-bottom: 15vh;
  }
  .projectcard--upenn {
    background-image: url('../assets/img/upenn.png');
    @extend .projectbg__styles;
    background-position-x: 17.5vw;
  }

.left {
  position: absolute;
  transform: skewY(0deg);
  left: 5%;
  top: 20vh;
  a {
    color: orange;
    font-size: 3.5vh;
    cursor: pointer;
  }
}
.right {
  position: absolute;
  transform: skewY(0deg);
  right: 8%;
  top: 20vh;
  a {
    color: $teal;
    font-size: 3.5vh;
    cursor: pointer;
  }
}
