.work-header {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 calc(100% - 8vw));
  font-size: 2em;
  margin-bottom: 2vh;
  top: 0vh;
  width: 100%;
  height: 25vh;
  text-align: right;
  position: relative;
  color: #ffffff;
  padding-top: 6vh;
}
.work-header::before {
  content: "";
  position: absolute;
  top: 0vh;
  left: 0;
  height: 31vh;
  width: 100%;
  transform: skewY(5deg);
  background-color: #ad04fd;
  transform-origin: bottom right;
  z-index: -1;
}
.work_header--title {
  padding-top: 45vh;
  padding-right: 6vh;
}
.work-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -ms-transform: none;
    transform: none;
  }
}

.left {
  animation-name: fadeRight;
  animation-delay: 2s;
  top: 30vh;
  left: -4vh;
  position: relative;
}
.right {
  font-size: 4em;
  top: 30vh;
  position: relative;
  a {
    color: orange;
  }
}
.box {
  width: 100vh;
  max-width: 90vh;
  height: 48vh;
  align-items: center;
  position: relative;
  display: inline-flex;
  }
  .box--jot-it {
    background-image: url('../assets/img/jot-it.png');
    background-repeat: no-repeat;
    background-size: 30vw;

  }
  .box--csm {
    background-image: url('../assets/img/csm.png');
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: right;
    font-size: 3em;
      a {
        color: orange;
      }
    }
.project-img {
  max-width: 75%;
}
